*{
  list-style: none;
}

.card-pokemon {
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-width: 550px;
  min-height: 200px;
  border: 2px solid rgb(243, 138, 0);
  border-radius: 10px;
  margin: 5px 15px;
}

.card-pokemon div {
  text-align: center;
  order: -1;
}

.card-pokemon div h3 {
  font-size: 23px;
}

.card-pokemon div p {
  font-size: 17px;
}

.card-pokemon div p:first-of-type {
  margin: 25px;
}

.card-pokemon img {
  width: 150px; 
}