h1,
h2,
h3,
h4,
h5,
h6 {
  color: red;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-size: 40px;
  border: 1px solid black;
}

ol li:nth-child(odd) {
  background-color: yellow;
  text-transform: uppercase;
}

ol li:nth-child(even) {
  color: green;
}

li {
  font-size: 20px;
}

li em {
  font-weight: 700;
}

ul:first-of-type li:nth-child(1),
li:nth-child(2),
li:nth-child(3) {
  color: blue;
}

ul:first-of-type li:nth-child(2),
li:nth-child(3) {
  background-color: pink;
}

li:nth-child(1) a:hover {
  color: orange;
}
li:nth-child(2) a:hover,
li:nth-child(5) a:hover {
  color: green;
}
li:nth-child(3) a:hover {
  color: black;
}
li:nth-child(4) a:hover {
  color: yellow;
}
