* {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: flex;
  height: 100%;
}

.section-pokedex {
  flex: 2;
  width: 70%;
}

.section-side-controller {
  flex: 1;
  width: 30%;
}

.list-of-pokemons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .grass_field {
  background: rgba(0, 0, 0, 0.2) url(./assets/grass_field.jpg);
  background-size: contain;
  background-blend-mode: darken;
} */

/* .bug_field {
  background: rgba(0, 0, 0, 0.2) url(./assets/grass_field.jpg);
  background-size: contain;
  background-blend-mode: darken;
}

.fire_field {
  background: rgba(0, 0, 0, 0.2) url(./assets/grass_field.jpg);
  background-size: contain;
  background-blend-mode: darken;
}

.water_field {
  background: rgba(0, 0, 0, 0.2) url(./assets/grass_field.jpg);
  background-size: contain;
  background-blend-mode: darken;
} 

.poison_field {
  background: rgba(0, 0, 0, 0.2) url(./assets/grass_field.jpg);
  background-size: contain;
  background-blend-mode: darken;
}

.normal_field {
  background: rgba(0, 0, 0, 0.2) url(./assets/grass_field.jpg);
  background-size: contain;
  background-blend-mode: darken;
} */ 

.list-of-pokemons li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6) url(./Background_Cards.jpg);
  background-size: cover;
  background-blend-mode: darken;
  align-items: center;
  min-width: 250px;
  min-height: 385px;
  margin-bottom: 30px;
  border: 4px solid rgb(0, 33, 77);
  border-radius: 10px;
}

.list-of-pokemons h3 {
  color: white;
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 10px;
}

.list-of-pokemons img {
  width: 150px;
  height: 150px;
}

.status {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 166, 0);
  width: 100%;
  height: 100%;
}

.status h3 {
  color: black;
}

.status p {
  font-size: 14px;
}

.first-status {
  margin-top: 10px;
  margin-left: 15px;
}

.status-title {
  margin: 10px 0;
  align-self: center;
}

.second-status {
  margin-left: 15px;
}